@{

}

<div class="container mx-auto max-w-4xl py-28 px-8">
    <h1 class="font-sans text-3xl md:text-4xl tracking-wide pb-6 underline">Contact us here</h1>
    <div class="max-w-xl">
        <form>
            <div class="mb-3">
                <label class="text-lg pb-1">Name</label>
                <input type="text" class="font-sans text-lg outline-none border-2 border-black py-1 px-3 w-full">
            </div>
            <div class="mb-3">
            <label class="text-lg pb-1">Email</label>
            <input type="email" class="font-sans text-lg outline-none border-2 border-black py-1 px-3 w-full">
        </div>
        <div class="mb-3">
            <label class="text-lg pb-1">Message</label>
            <textarea name="" id="" cols="30" rows="7" class="font-sans text-lg outline-none border-2 border-black py-1 px-3 w-full"></textarea>
        </div>
        <a href="#" class="font-sans text-white text-lg shadow-lg bg-yellow-600 py-3 px-10 transition ease-in-out duration-150 hover:bg-yellow-700">Submit</a>
        </form>
    </div>
</div>