@model IEnumerable<MvcCoffee.Models.Coffee>


@{

}

<div class="container mx-auto max-w-4xl py-28 px-5">
    <div class="pb-6">
        <h1 class="font-sans text-4xl tracking-wide pb-6 underline text-center">Esta Coffee_shop</h1>
        <h1 class="font-sans text-4xl tracking-wide pb-6 underline text-center"> Admin-Panel</h1>
    </div>
    <div class="flex justify-center  gap-2 items-center">
        <a asp-controller="Admin" asp-action="CoffeeDetails" class="bg-green-300 py-2 px-10 text-3xl"> Coffee_Details </a>
        <a asp-controller="Admin" asp-action="OrderDetails" class="bg-green-300 py-2 px-10 text-3xl"> Order_Details </a>
    </div>
    
</div>