@model MvcOrder.Models.Order;

@{

}

<div class="container mx-auto max-w-4xl py-28 px-6">
        <div class="flex flex-col items-center mb-12">
            <h1 class="font-sans text-4xl tracking-wide pb-2">Order Details</h1>
        </div>

        <form asp-action="Order">
            <div class="grid grid-cols-2 gap-4 mb-3">
                <div class="">
                    <label asp-for="Name"></label>
                    <input disabled asp-for="Name" type="text" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
                <div class="">
                    <label asp-for="Phone"></label>
                    <input disabled asp-for="Phone" type="text" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 mb-3">
                <div class="">
                    <label asp-for="Email"></label>
                    <input disabled asp-for="Email" type="email" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
                <div class="">
                    <label asp-for="TotalPeople"></label>
                    <input disabled asp-for="TotalPeople" type="number" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 mb-3">
                <div class="">
                    <label asp-for="CoffeeNames"></label>
                    <input disabled asp-for="CoffeeNames" type="text" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
                <div class="">
                    <label asp-for="TotalCoffees"></label>
                    <input disabled asp-for="TotalCoffees" type="number" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 mb-10">
                <div class="">
                    <label asp-for="DateBooking"></label>
                    <input disabled asp-for=" DateBooking" type="date" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
                <div class="">
                    <input disabled type="datetime" class="font-sans text-lg outline-none border-2 border-black py-2 px-3 w-full">
                </div>
            </div>
            <div class="">
                <a asp-action="OrderDetails" class="font-sans text-white text-lg shadow-lg bg-yellow-600 py-3 px-10 w-full transition ease-in-out duration-150 hover:bg-yellow-700">Return to Orders</a>
            </div>
        </form>
    </div>


    @section Scripts{
        @{ <partial name="_ValidationScriptsPartial" /> }
    }