@{

}

<div class="container mx-auto max-w-4xl py-28">
    <h1 class="font-sans text-4xl tracking-wide pb-4">About Esta Coffee_shop</h1>
    <div class="grid grid-cols-2">
        <div class="flex flex-col">
            <p class="pb-10 text-lg">
                Lorem ipsum dolor sit amet consectetur, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, voluptatum. adipisicing elit. Facilis nulla eos et atque impedit aspernatur explicabo reiciendis eveniet optio ducimus enim asperiores, veniam quae! Numquam, impedit? Eos assumenda nihil, in eum enim vitae praesentium necessitatibus modi laudantium neque earum! Pariatur?
            </p>
            <div class="">
                <a href="#" class="font-sans text-white text-lg shadow-lg bg-yellow-600 py-3 px-10 transition ease-in-out duration-150 hover:bg-yellow-700">send email</a>
            </div>
        </div>
    </div>
</div>